<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @wc %> </h2>

<h2>Vowels: <%= @vc %> </h2>

<h2>Consonants: <%= @cc %> </h2>

<h2>Most Common Letter: <%= @mul[0] %>, used <%= @mul[1] %> times</h2>
